<form action="/users" method="post">
    <label>First Name
        <input type="email" placeholder="Enter email..." name="email">
    </label>
    <label>Password
        <input type="password" placeholder="Enter password..." name="password">
    </label>
</form>