<table>
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Airat</td>
        <td>Mukhutdinov</td>
        <td>mail@mail.com</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Marsel</td>
        <td>Sidikov</td>
        <td>gmail@mail.com</td>
    </tr>
</table>